@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");


body{

    font-family:"Poppins",sans-serif;

    background:var(--light);

    color:var(--dark);

    line-height:1.6;

}

h1{

font-size:4rem;

font-weight:700;

}

h2{

font-size:2.5rem;

font-weight:600;

}

h3{

font-size:2rem;

}

p{

font-size:1rem;

}